@page
@model Chiperi_Geanina_Proiect.Pages.Phones.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Phone store</h1>

<h4>Add a new product:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Phone.Model" class="control-label"></label>
                <input asp-for="Phone.Model" class="form-control" />
                <span asp-validation-for="Phone.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone.Type" class="control-label"></label>
                <input asp-for="Phone.Type" class="form-control" />
                <span asp-validation-for="Phone.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone.Price" class="control-label"></label>
                <input asp-for="Phone.Price" class="form-control" />
                <span asp-validation-for="Phone.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone.ReleaseDate" class="control-label">Release date</label>
                <input asp-for="Phone.ReleaseDate" class="form-control" />
                <span asp-validation-for="Phone.ReleaseDate" class="textdanger"></span>
            </div>
            <div class="form-group">
            <label asp-for="Phone.BrandID" class="control-label">Brand name</label>
            <select asp-for="Phone.BrandID" class="form-control" asp-items="ViewBag.BrandID">
            </select>
            </div>
            <!--<span asp-validation-for="Phone.BrandID" class="text-danger"></span>-->

            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                foreach (var cat in Model.AssignedCategoryDataList)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedCategories"
                                               value="@cat.CategoryID"
                                               @(Html.Raw(cat.Assigned ? "checked=\"checked\"" : "")) />
                                        @cat.CategoryID @: @cat.Name
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
